@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #a36109;
  --color-background-dark: #161616;
  --color-background-light: #222222;
  --font-sans: 'Inter', sans-serif;
}

body {
  background-color: var(--color-background-dark);
  color: #f3f4f6;
  transition: filter 0.3s ease, background-color 0.3s ease;
}

html.light-mode {
  filter: invert(1) hue-rotate(180deg);
}

html.light-mode img,
html.light-mode .no-invert {
  filter: invert(1) hue-rotate(180deg);
}
