@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #a36109;
  --color-background-dark: #161616;
  --color-background-light: #222222;
  --font-sans: 'Inter', sans-serif;
}

body {
  background-color: var(--color-background-dark);
  color: #f3f4f6; /* Tailwind text-gray-100 */
}
